@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fonte: "Poppins", sans-serif;
    --branco: whitesmoke;
    --preto: black;
    --azul: #010087;
    --laranja: #ec4400;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fonte);
    list-style-type: none;
    scroll-behavior: smooth;
}

.arrow-up{
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 25px;
    background-color: var(--laranja);
    color: white;
    padding: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
}

.arrow_up{
    display: flex;
}

/* HEADER SECTION */

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
}

.top_header{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 30px;
    background-color: black;
}

.nav_logos{
    display: flex;
    align-items: center;
}

.nav_logos .nav_items{
    margin-right: 30px;
    font-size: 20px;
}

.fa-brands, .fa-solid{
    transition: 0.4s;
}

.fa-brands:hover, .fa-solid:hover{
    opacity: 0.3;
}

.fa-truck{
    color: rgb(0, 238, 255);
}

.fa-youtube{
    color: red;
}

.fa-discord{
    color: #7289da;
}

.sub_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 150px;
}

.sub_header .logo{
    height: 60px;
}

.sub_header .navclass .navlist{
    display: flex;
    gap: 50px;
}

.sub_header .navclass .navlist .nav_item{
    font-weight: 500;
    transition: .4s;
    color: var(--branco);
    font-size: 25px;
}

.sub_header .navclass .navlist .nav_item:hover{
    color: var(--laranja);
}

.sticky{
    position: fixed;
    top: 0;
    background-color: var(--preto);
}

.recruitment{
    background-color: var(--laranja);
    padding: 1px 30px;
    border-radius: 20px;
    font-size: 18px !important;
    box-shadow: 1px 1px 10px #ff480067;
    display: flex;
    align-items: center;
}

.navclass-mobile{
    display: none;
}

.recruitment:hover{
    color: black !important;
    transform: scale(1.1);
}

.banner{
    /* background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    background-color: rgba(0, 0, 0, 0.493);
    background-blend-mode: overlay;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.video_back{
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
}

.banner_title{
    max-width: 1300px;
    text-align: center;
    /* background-color: rgba(134, 134, 134, 0.329); */
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: 1px 2px 5px rgba(2, 5, 179, 0.479); */
}

.banner_title h1{
    font-size: 70px;
    color: var(--branco);
    font-weight: 600;
    text-transform: uppercase;
}

.banner_title .description{
    max-width: 900px;
    margin: auto;
    color: var(--branco);
    font-size: 25px;
}

.banner_title .subscription_link{
    background-color: var(--azul);
    padding: 10px 50px;
    color: var(--branco);
    display: inline-block;
    border: 1px solid var(--branco);
    border-radius: 20px;
    margin-top: 10px;
    transition: .5s;
}

.banner_title .subscription_link:hover{
    background-color: var(--laranja);
    color: var(--preto);
}

.arrow{
    position: absolute;
    bottom: 0px;
}

.arrow img{
    height: 100px;
}

/* VALORS SECTION */

.valors{
    width: 100%;
    background-color: var(--branco);
    min-height: 50vh;
    padding-bottom: 30px;
}

.section-title{
    width: 100%;
    text-align: center;
    padding: 30px 0px 0px;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
}

.desc-title{
    padding: 0px 0px 3px 0px;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 10px;
}

.desc-title h1:before{
    content: '';
    width: 75px;
    position: absolute;
    height: 5px;
    background-color: var(--laranja);
    bottom: 1px;
}

.section-title h1:before{
    content: '';
    width: 110px;
    position: absolute;
    height: 5px;
    background-color: var(--laranja);
    bottom: 1px;
}

.valors-cont{
    /* width: 100%; */
    max-width: 1500px;
    padding: 50px 5px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.valors-cont-inv{
    /* width: 100%; */
    max-width: 1500px;
    padding: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: auto;
}

.img-cont img{
    min-width: 400px;
    max-width: 700px;
    border-radius: 15px;
    height: 465px;
    /* box-shadow: 1px 2px 15px rgba(135, 135, 238, 0.452); */
    animation: flutuar 4s ease-in-out infinite;
}

.img-cont img:hover{
    animation: parar 4s ease-in-out;
}

@keyframes flutuar{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-20px);
    }


    100%{
        transform: translateY(0px);
    }
}

@keyframes parar{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(0px);
    }


    100%{
        transform: translateY(0px);
    }
}

.history-text{
    text-align: center;
    max-width: 500px;
    height: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.history-text p{
    text-indent: 30px;
    font-weight: 300;
    font-size: 17px;
}

.division{
    width: 200px;
    height: 2px;
    background-color: #ec430067;
    margin: auto;
}

.btn{
    width: 100%;
    text-align: center;
}

.button{
    background-color: var(--azul);
    padding: 10px 50px;
    color: var(--branco);
    border: 1px solid var(--branco);
    border-radius: 20px;
    margin-top: 10px;
    transition: .5s;
    width: 500px;
}

.button:hover{
    background-color: var(--laranja);
    color: var(--preto);
}

/* PLAYERS INICIO */

.players{
    min-height: 50vh;
    width: 100%;
}

.players-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../assets/imagens/player.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.397);
    background-blend-mode: overlay;
    margin: 20px 0 0 0;
    padding: 0 30px;
}

.boss-box, .player-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    padding: 7px 0;
}

.players-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.boss-img img, .player-img img{
    max-width: 250px;
    min-width: 200px;
}

.nameBoss, .namePlayer{
    font-size: 2rem;
    padding: 10px 0;
    color: white;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.boss{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.boss-desc, .player-desc{
    text-align: justify;
    font-weight: 500;
    text-indent: 30px;
    background-color: var(--branco);
    padding: 15px;
    border-radius: 15px;
    min-height: 315px;
}

.boss-desc p, .player-desc p{
    transition: 1s ease-in;
    color: var(--preto);
}

.cargo{
    text-transform: uppercase;
    color: var(--laranja);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

/* DISCORD */

.discord{
    width: 100%;
    padding: 30px 0;
    background-color: var(--preto);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 30vh;
    flex-wrap: wrap;
}

.img-discord{
    display: flex;
    flex-direction: column;
}

.discord .img-discord img{
    width: 300px;
}

.disc-title{
    max-width: 600px;
}

.disc-title h1{
    font-size: 40px;
    color: white;
}

.disc-title h1:before{
    content: '| ';
    color: var(--laranja);
}

.disc-title p{
    font-size: 15px;
    text-align: justify;
    text-indent: 30px;
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 10px;
}

.disc-link{
    display: flex;
    align-items: center;
    gap: 10px;
}

.disc-title a{
    font-size: 18px;
    background-color: var(--azul);
    color: white;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 15px;
    transition: .4s;
    animation: color 2s infinite;
    box-shadow: 2px 2px 5px #ffffff25;
}

.disc-title a:hover{
    transform: scale(1.05);
    background-color: var(--laranja);
}

.disc-link .click{
    color: white;
    font-size: 30px;
    animation: slide 1s infinite;
    font-weight: bold;
}

@keyframes slide {
    0%{
        transform: translateX(0px);
        color: var(--laranja);
    }

    50%{
        transform: translateX(8px);
        color: var(--laranja);
    }

    100%{
        transform: translateX(0px);
        color: var(--branco);
    }
}

@keyframes color {
    0%{
        background-color: var(--azul);
    }

    50%{
        background-color: var(--laranja);
    }

    100%{
        background-color: var(--azul);
    }
}

.donation, .whatsapp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--branco);
    padding: 15px 0;
    flex-wrap: wrap;
}

.donation img{
    max-width: 100px;
    animation: pulsar 2s infinite;
}

@keyframes pulsar {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

.donation-msg{
    max-width: 700px;
}

.donation-msg h1, .zap-msg h1{
    font-size: 30px;
}

.orange{
    color: var(--laranja);
}

.effect-msg, .zap-msg p{
    font-size: 14px;
    font-weight: 500;
    text-indent: 30px;
}

/* WHATSAPP */

.whatsapp{
    background-image: url(../assets/imagens/img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 50vh !important;
    background-color: rgba(0, 0, 0, 0.562);
    background-blend-mode: overlay;
}

.zap-msg{
    max-width: 600px;
    text-align: center;
    background-color: rgba(173, 216, 230, 0.212);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.137);
    color: var(--branco);
    text-shadow: 1px 2px 3px black;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.zap-msg p{
    text-indent: 0;
    margin-bottom: 10px;
}

.zap-msg a{
    display: block;
    background-color: rgb(4, 177, 4);
    width: 50%;
    padding: 5px;
    border-radius: 15px;
    color: black;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.137);
    margin: 0 auto;
    transition: .2s;
    text-shadow: none;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.342);
}

.zap-msg a:hover{
    background-color: rgb(5, 151, 5);
}

.whatsapp img{
    max-width: 200px;
    animation: flutuar 4s ease-in-out infinite;
}

.green{
    color: rgb(4, 177, 4);
}

/* FOOTER */

.footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--preto);
    padding: 30px 0 0 0;
    text-align: center;
    position: relative;
}

.infor{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.infor .img img{
    max-width: 200px;
}

.foot-info{
    color: var(--branco);
}

.foot-info h1{
    font-size: 25px;
}

.foot-info ul li a{
    color: white;
    transition: .2s;
}

.foot-info ul li a:hover{
    color: var(--laranja);
}

.foot-info ul li a:before, .foot-info ul li a:after, .foot-info h1:before, .foot-info h1:after{
    content: ' | ';
    color: var(--laranja);
    font-weight: bolder;
}

.foot-end{
    background-color: var(--laranja);
    font-size: 12px;
}

.politcs p a{
    color: var(--branco);
}

.foot-end-links{
    color: var(--branco);
    font-weight: 500;
}

/* PRIVACY */

.privacy{
    width: 100%;
    padding: 20px;
}

.privacy h2{
    text-align: center;
}

.banner-standard{
    min-height: 30vh;
    background-image: url(../assets/imagens/banner-std.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-std{
    width: 100%;
    text-align: center;
}

.banner-std h1{
    font-size: 50px;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.356);
}

.modslist{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}




























@media (min-aspect-ratio: 16/9){
    .video_back{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video_back{
        width: auto;
        height: 100%;
    }
}

@media screen and (min-width: 3840px){

    .nav_logos .nav_items {
        font-size: 50px;
    }

    .sub_header .logo {
        height: 200px;
    }

    .sub_header .navclass .navlist .nav_item{
        font-size: 70px;
    }

    .recruitment{
        font-size: 70px!important;
    }


    .banner_title {
        max-width: 100%;
    }

    .banner_title h1 {
        font-size: 135px;
    }

    .banner_title .description {
        max-width: 1800px;
        font-size: 50px;
    }

    .banner_title .subscription_link{
        font-size: 50px;
    }

    .arrow img {
        height: 300px;
    }

    .section-title {
        font-size: 55px;
    }

    .img-cont img {
        min-width: 1000px;
        height: 800px;
    }

    .valors-cont, .valors-cont-inv{
        max-width: 2600px;
    }

    .desc-title{
        font-size: 50px;
    }

    .history-text {
        max-width: 1200px;
        height: 100%;
    }

    .history-text p{
        font-size: 35px;
    }

    .button{
        font-size: 50px;
    }

    .discord .img-discord img{
        width: 800px;
    }

    .disc-title{
        max-width: 1500px;
    }

    .disc-title h1{
        font-size: 70px;
    }

    .disc-title p{
        font-size: 35px;
    }

    .disc-title a{
        font-size: 50px;
    }

    .disc-link .click{
        font-size: 65px;
    }
}

@media screen and (max-width: 1400px){
    .sub_header .navclass .navlist .nav_item{
        font-size: 18px;
    }

    .banner_title h1{
        font-size: 50px;
    }

    .banner_title .description{
        font-size: 20px;
    }

    .history-text {
        text-align: center;
        max-width: 100%; 
        height: 100%;
    }

    .sub_header {
        padding: 8px 20px;
    }

    .donation{
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .donation-msg h1, .effect-msg{
        text-align: center;
        text-indent: 0;
    }
}

@media screen and (max-width: 600px){

    .top_header{
        justify-content: center;
        padding: 0;
    }

    .nav_logos{
        gap: 20px;
    }

    .sub_header{
        padding: 8px 30px;
    }

    .nav_logos .nav_items{
        margin: 0;
    }

    .sub_header .navclass .navlist {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    .banner_title h1 {
        font-size: 40px;
    }

    .img-cont img{
        width: 100%;
        height: 300px;
        min-width: 0;
    }

    .history-text{
        height: 100%;
    }

.button{
    background-color: var(--azul);
    padding: 10px 5px;
    color: var(--branco);
    border: 1px solid var(--branco);
    border-radius: 20px;
    margin: 0 auto;
    transition: .5s;
    width: 90%;
    display: block;
}

.navclass-mobile{
    display: flex;
}

.navlist-mobile{
    position: absolute;
    display: flex;
    width: 100%;
    background-color: #ffffffc5;
    left: -100%;
    height: 50vh;
    top: 110px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    transition: 1s !important;
    border-bottom-right-radius: 30%;
}

.abrir{
    left: 0;
}

.nav_item-mobile{
    font-size: 25px;
    background-color: var(--azul);
    color: var(--branco);
    padding: 10px;
    width: 100%;
    display: block;
    border-radius: 30px;
    text-align: center;
}

.recruitment-mobile{
    background-color: var(--laranja);
    width: 300px;
    margin: 0 auto;
}

.navclass{
    display: none;
}

.icone i{
    font-size: 50px;
    color: white;
}

.players-container{
    padding: 30px 0;
}

.discord{
    gap: 20px;
}

.disc-title h1{
    text-align: center;
}

.disc-title p{
    text-align: center;
    text-indent: 0;
    padding: 0 10px;
}

.disc-link{
    justify-content: center;
}

.zap-msg a{
    width: 100%;
}

.infor{
    flex-direction: column;
    margin-bottom: 20px;
}

.foot-end{
    padding: 0 10px;
}

}

@media screen and (max-width: 400px){
    .banner_title h1 {
        font-size: 34px;
    }

    .banner_title .description {
        font-size: 17px;
    }

    .icone i {
        font-size: 35px;
    }

    .sub_header .logo {
        height: 50px;
    }

    .history-text p {
        font-size: 14px;
    }
}

@media screen and (max-width: 300px){
.banner_title h1 {
    font-size: 25px;
}

.banner_title .description {
    font-size: 14px;
}

.nav_item-mobile {
    font-size: 15px;
}

.recruitment-mobile {
    width: 80%;
}

.discord .img-discord img{
    width: 250px;
}

.disc-title h1{
    font-size: 34px;
}
}


