@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fonte: "Poppins", sans-serif;
    --branco: whitesmoke;
    --preto: black;
    --azul: #010087;
    --laranja: #ec4400;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fonte);
    list-style-type: none;
    scroll-behavior: smooth;
}

/* HEADER SECTION */

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
}

.top_header{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 30px;
    background-color: black;
}

.nav_logos{
    display: flex;
    align-items: center;
}

.nav_logos .nav_items{
    margin-right: 30px;
    font-size: 20px;
}

.fa-brands, .fa-solid{
    transition: 0.4s;
}

.fa-brands:hover, .fa-solid:hover{
    opacity: 0.3;
}

.fa-truck{
    color: rgb(0, 238, 255);
}

.fa-youtube{
    color: red;
}

.fa-discord{
    color: #7289da;
}

.sub_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 150px;
}

.sub_header .logo{
    height: 60px;
}

.sub_header .navclass .navlist{
    display: flex;
    gap: 50px;
}

.sub_header .navclass .navlist .nav_item{
    font-weight: 500;
    transition: .4s;
    color: var(--branco);
    font-size: 25px;
}

.sub_header .navclass .navlist .nav_item:hover{
    color: var(--laranja);
}

.recruitment{
    background-color: var(--laranja);
    padding: 1px 30px;
    border-radius: 20px;
    font-size: 18px !important;
    box-shadow: 1px 1px 10px #ff480067;
    display: flex;
    align-items: center;
}

.navclass-mobile{
    display: none;
}

.recruitment:hover{
    color: black !important;
    transform: scale(1.1);
}

.banner{
    /* background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    background-color: rgba(0, 0, 0, 0.493);
    background-blend-mode: overlay;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.video_back{
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
}

.banner_title{
    max-width: 1300px;
    text-align: center;
    /* background-color: rgba(134, 134, 134, 0.329); */
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: 1px 2px 5px rgba(2, 5, 179, 0.479); */
}

.banner_title h1{
    font-size: 70px;
    color: var(--branco);
    font-weight: 600;
    text-transform: uppercase;
}

.banner_title .description{
    max-width: 900px;
    margin: auto;
    color: var(--branco);
    font-size: 25px;
}

.banner_title .subscription_link{
    background-color: var(--azul);
    padding: 10px 50px;
    color: var(--branco);
    display: inline-block;
    border: 1px solid var(--branco);
    border-radius: 20px;
    margin-top: 10px;
    transition: .5s;
}

.banner_title .subscription_link:hover{
    background-color: var(--laranja);
    color: var(--preto);
}

.arrow{
    position: absolute;
    bottom: 0px;
}

.arrow img{
    height: 100px;
}

/* VALORS SECTION */

.valors{
    width: 100%;
    background-color: var(--branco);
    min-height: 50vh;
    padding-bottom: 30px;
}

.section-title{
    width: 100%;
    text-align: center;
    padding: 30px 0px 0px;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
}

.desc-title{
    padding: 0px 0px 3px 0px;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 10px;
}

.desc-title h1:before{
    content: '';
    width: 75px;
    position: absolute;
    height: 5px;
    background-color: var(--laranja);
    bottom: 1px;
}

.section-title h1:before{
    content: '';
    width: 110px;
    position: absolute;
    height: 5px;
    background-color: var(--laranja);
    bottom: 1px;
}

.valors-cont{
    /* width: 100%; */
    max-width: 1500px;
    padding: 50px 5px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.valors-cont-inv{
    /* width: 100%; */
    max-width: 1500px;
    padding: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: auto;
}

.img-cont img{
    min-width: 400px;
    max-width: 700px;
    border-radius: 15px;
    height: 465px;
    /* box-shadow: 1px 2px 15px rgba(135, 135, 238, 0.452); */
    animation: flutuar 4s ease-in-out infinite;
}

.img-cont img:hover{
    animation: parar 4s ease-in-out;
}

@keyframes flutuar{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-20px);
    }


    100%{
        transform: translateY(0px);
    }
}

@keyframes parar{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(0px);
    }


    100%{
        transform: translateY(0px);
    }
}

.history-text{
    text-align: center;
    max-width: 500px;
    height: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.history-text p{
    text-indent: 30px;
    font-weight: 300;
    font-size: 17px;
}

.division{
    width: 200px;
    height: 2px;
    background-color: #ec430067;
    margin: auto;
}

.btn{
    width: 100%;
    text-align: center;
}

.button{
    background-color: var(--azul);
    padding: 10px 50px;
    color: var(--branco);
    border: 1px solid var(--branco);
    border-radius: 20px;
    margin-top: 10px;
    transition: .5s;
    width: 500px;
}

.button:hover{
    background-color: var(--laranja);
    color: var(--preto);
}



























@media (min-aspect-ratio: 16/9){
    .video_back{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video_back{
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 1400px){
    .sub_header .navclass .navlist .nav_item{
        font-size: 18px;
    }

    .banner_title h1{
        font-size: 50px;
    }

    .banner_title .description{
        font-size: 20px;
    }
}

@media screen and (max-width: 600px){

    .top_header{
        justify-content: center;
        padding: 0;
    }

    .nav_logos{
        gap: 20px;
    }

    .sub_header{
        padding: 8px 30px;
    }

    .nav_logos .nav_items{
        margin: 0;
    }

    .sub_header .navclass .navlist {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    .banner_title h1 {
        font-size: 40px;
    }

    .img-cont img{
        width: 100%;
        height: 300px;
    }

    .history-text{
        height: 100%;
    }

.button{
    background-color: var(--azul);
    padding: 10px 5px;
    color: var(--branco);
    border: 1px solid var(--branco);
    border-radius: 20px;
    margin: 0 auto;
    transition: .5s;
    width: 90%;
    display: block;
}

.navclass-mobile{
    display: flex;
}

.navlist-mobile{
    position: absolute;
    display: flex;
    width: 100%;
    background-color: var(--branco);
    left: -100%;
    height: 50vh;
    top: 110px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    transition: 1s !important;
    border-bottom-right-radius: 30%;
}

.abrir{
    left: 0;
}

.nav_item-mobile{
    font-size: 25px;
    background-color: var(--azul);
    color: var(--branco);
    padding: 10px;
    width: 100%;
    display: block;
    border-radius: 30px;
    text-align: center;
}

.recruitment-mobile{
    background-color: var(--laranja);
    width: 300px;
    margin: 0 auto;
}

.navclass{
    display: none;
}

.icone i{
    font-size: 50px;
    color: white;
}

}


